.list{
    width: ~"calc(100% - 140px)";
    display: flex;
    flex-direction: column;

    h2{
        color:white;
        font-size: 2rem;
        width: 100%;
    }

    .content{
        display: flex;

        .column{
            width: 50%;
    
            .item{
                width: 100%;
                display: grid;
                grid-template-columns: 0.5fr 0.5fr 2fr;
                margin: 20px 0;

                &:first-child{
                    font-weight: lighter;
                }
                &:not(:first-child){
                    span{
                        font-weight: bolder;   
                    }
                }
            }
        }
    }

}